@import "theme/flat/uikit.less";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	font-family: 'Lato';
}
a{
	transition: all 0.25s;
	color: #00BCD4;
}
a:hover{
	text-decoration: none;
}
.content-wrapper{
	padding: 16px;
}
.mdl-grid{
	margin: 0 0;
}
.news-card-wide{
	width: 100%;
	margin-bottom: 16px;
	max-height: 200px;
	border-radius: 4px;
	.thumbnail{
		max-height: 200px;
		width: 100%;
		background-size: contain;
		background-size: cover;
		background-position: center; 
		background-repeat: no-repeat;
		background-color: #eee;
	}
	.mdl-card__supporting-text{
		width: 100%;
	}
}
#teaser{
	background: #7474BF;
	background: -webkit-linear-gradient(to left, #7474BF , #348AC7);
	background: linear-gradient(to left, #7474BF , #348AC7);
	position: relative;
}
#teaser-header{
	margin: 25px 0 50px 0;
	padding: 0 35px;
	color: #ffffff !important;
	background: transparent;
}
#teaser-header h1{
	margin-bottom: 0;
}
#teaser-nav {
	a{
		display: inline-block;
		color: #ffffff;
		padding: 10px 15px;
		font-size: 16px;
		font-weight: 700;
		border-radius: 5px;
		margin: 0 5px;
	}
	a:hover{
		background: rgba(255, 255, 255, 0.2);
	}
	a.active{
		background: rgba(255, 255, 255, 0.2);
	}
}
// Landing Page Features Section
#features{
	padding: 100px 0;
}

// Landing Page Contact Section
#contact{
	background: #212121;
	color: #616161;
	padding: 100px 0;
}
#contact-social{
	text-align: right;
	a{
		font-size: 24px;
		padding: 0 10px;
	}
}
.mdl-layout__drawer {
	border-right: 0px;

	.mdl-navigation{
		i{
			margin-right: 16px;
		}
	}
}
// Home Page

.app-drawer{
	background-color: #212121;
	
	.mdl-navigation__link{
		color: white !important;

		i{
			color: #757575;
		}
	}
	.logo h1{
		margin-top: 10px;
		margin-bottom: 0;
		line-height: 64px;
	}
}



// Login Page
.auth-page{
	background: #7474BF;
	background: -webkit-linear-gradient(to left, #7474BF , #348AC7);
	background: linear-gradient(to left, #7474BF , #348AC7);
}
.auth-card{
	width: 100%;
	padding: 25px;
	border-radius: 4px;
	background: rgba(255, 255, 255, 1);
}

// Weather Card
// 

.weather-card{
	width: 100%;
}

// Temporary Helpers

.text-white{
	color: #ffffff;
}
.text-thin{
	font-weight: 100;
}
.vertical-align{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

// Text Colors
// 

.text-white{
	color: white !important;
}
.text-grey{
	color: #616161 !important;
}

//details
.datails-description{
	padding: 64px; 
}